---
samba_workgroup: 'WORKGROUP'
samba_server_string: 'Fileserver %m'
samba_log_size: 5000
samba_log_level: 0
samba_interfaces: []
samba_security: 'user'
samba_passdb_backend: 'tdbsam'
samba_map_to_guest: 'Never'
samba_load_printers: false
samba_printer_type: 'cups'
samba_cups_server: 'localhost:631'
samba_load_homes: false
samba_create_varwww_symlinks: false
samba_shares_root: '/srv/shares'
samba_manage_directories: true
samba_shares: []
samba_users: []

samba_enable_netbios: true
samba_wins_support: true
samba_local_master: true
samba_domain_master: true
samba_preferred_master: true
samba_mitigate_cve_2017_7494: true
