name: Publish

on:
  release:
    types: [published]

jobs:
  publish:
    name: Publish collection to Ansible Galaxy
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4.3.0
        with:
          ref: ${{ github.head_ref }}
      - name: Get the version name from the tags
        run: echo "RELEASE_VERSION=${GITHUB_REF/refs\/tags\/v/}" >> $GITHUB_ENV
      - name: Change collection version to match tag
        run: |
          sed -Ei "s/^version: .*/version: ${{ env.RELEASE_VERSION }}/" galaxy.yml
      - name: Commit galaxy.yml
        uses: stefanzweifel/git-auto-commit-action@778341af668090896ca464160c2def5d1d1a3eb0 # v6.0.1
        with:
          branch: main
          commit_message: "Update galaxy.yml for ${{ env.RELEASE_VERSION }}"
          file_pattern: galaxy.yml
      - name: Publish collection
        uses: docker://ghcr.io/artis3n/ansible_galaxy_collection:v2.11.0@sha256:5b3d08cf91d41e2090e72cf4e57d19b8b6c6a033aced59e00a185c2de1b71ef3
        with:
          api_key: '${{ secrets.ANSIBLE_GALAXY_API_KEY }}'
          galaxy_version: '${{ env.RELEASE_VERSION }}'
