name: Test

on:
  push:
    branches:
      - '*'
    tags:
      - 'v*.*.*'
  pull_request:
    branches:
      - '*'
  release:
    types:
      - published

jobs:
  changes:
    name: Detect file changes
    runs-on: ubuntu-22.04
    outputs:
      scenario: ${{ steps.filter.outputs.changes }}
    steps:
      - name: Checkout
        uses: actions/checkout@44c2b7a8a4ea60a981eaca3cf939b5f4305c123b # v4.1.5
      - name: Detect changes
        uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36 # v3.0.2
        id: filter
        with:
          filters: |
            default:
              - roles/server/**/!(**.md)
              - molecule/default/**
              - .github/workflows/test.yml
  test:
    name: "Test scenario ${{ matrix.scenario }} on ${{ matrix.os }}"
    runs-on: ubuntu-22.04
    needs: changes
    if: ${{ needs.changes.outputs.scenario != '[]' && needs.changes.outputs.scenario != '' }}
    strategy:
      fail-fast: true
      matrix:
        os:
          - ubuntu2404
          - ubuntu2204
          - debian12
          - debian11
          - fedora40
          - fedora39
          - rockylinux8
          - rockylinux9
        scenario: ${{ fromJSON(needs.changes.outputs.scenario) }}
    steps:
      - name: Checkout
        uses: actions/checkout@44c2b7a8a4ea60a981eaca3cf939b5f4305c123b # v4.1.5
        with:
          path: ansible_collections/vladgh/samba
      - name: Molecule test
        uses: gofrolist/molecule-action@3276ca9d5d51ba2354d61cbdff5a31726f9888b1 # v2.7.19
        with:
          molecule_command: test
          molecule_options: --debug
          molecule_args: --scenario-name ${{ matrix.scenario }}
          molecule_working_dir: ansible_collections/vladgh/samba
        env:
          PY_COLORS: 1
          ANSIBLE_FORCE_COLOR: 1
          MOLECULE_DISTRO: ${{ matrix.os }}
      #   continue-on-error: true
      # - name: Debugging with tmate
      #   uses: mxschmitt/action-tmate@v3.11
